.top-cities-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.top-cities-container h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}