.signup-component {
    display: flex;
    column-gap: 2rem;
    background-image: url('D:/tour-adivisor-1.0/tour-advisor-code/frontend/tour-advisor-v1/public/img/image10.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

.signup-form-section {
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.signup-form-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #02002D;
}

.signup-hero-section {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 2rem;
    border-radius: 8px;
    line-height: 0;
    margin-left: auto;
    margin-bottom: auto;
    z-index: 1;
}

.signup-hero-section .logo {
    width: 150px;
    height: 150px;
}

.signup-hero-title {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #fff;
}

.signup-hero-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    margin-top: 0.5rem;
}

.signup-hero-section .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}