.itinerary-section {
    padding: 2rem 4rem;
}

.itinerary-section h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
}

.itinerary-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 2rem;
}

.day-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.day-header h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.dot {
    width: 10px;
    height: 10px;
    background: #555;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 6px;
}

.line {
    position: absolute;
    left: 4px;
    /* center under dot */
    top: 25px;
    width: 2px;
    height: calc(100% - 25px);
    background: #c0c0c0;
}

.itinerary-details {
    margin-top: 1rem;
}

.itinerary-details p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

.itinerary-detail {
    display: grid;
    grid-template-columns: 120px 1fr 150px;
    padding: 10px 0;
    align-items: center;
}

.time {
    color: #555;
}

.place {
    font-size: 1rem;
}

.location-link a {
    color: #007bff;
    text-decoration: none;
}