.city-image {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    position: relative;
    margin-top: 2rem;
}

.city-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.city-image h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    margin: 0;
    z-index: 3;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.city-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    height: 80vh;
    border-radius: 10px;
}