.plan-container {
    position: relative;
    display: flex;
    height: 100%;
    padding: 20px;
    gap: 8rem;
    margin: -8rem 3rem 0rem 3rem;
    background-color: #DCF2FF;
    border-radius: 20px;
    z-index: 2 !important;
}

.plan-form-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 4rem;
}

.plan-container h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0;
    color: #000;
    line-height: 1;
}

.plan-container p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #000;
    line-height: 1.5;
}

.plan-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    gap: 1.5rem;
}

.plan-form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.plan-image-container {
    width: calc(65% - 400px);
    height: 100%;
    border-radius: 15px;
    padding: 2rem;
}

.plan-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.make-plan-loader {
    position: relative;
    max-width: 90%;
    margin: 5rem auto;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: linear-gradient(135deg, #ebf3ff 0%, #B0E1FF 100%);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #333;
}


.result-plan-section {
    margin: 4rem 2rem;
}

.result-plan-section h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.3rem;
}

.result-plan-card {
    background-color: #B0E1FF;
    display: flex;
    gap: 2rem;
    border-radius: 20px;
    height: auto;
}

.result-plan-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.result-plan-details {
    margin-top: 2.3rem;
    flex-grow: 1;
}

.result-plan-details h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    line-height: 1;
}

.result-plan-details p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.plan-features {
    display: flex;
    gap: 5rem;
    margin-top: 3rem;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plan-features p {
    text-align: center;
}

.plan-btn {
    margin-left: 53rem;
    margin-right: 2rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}