.footer {
    background-color: #142843;
    margin-top: 7rem;
    padding: 3rem 5rem 0 5rem;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-main-logo {
    width: 150px;
    height: 150px;
    border-radius: 20px;

}

.footer-main-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.footer-sitemap {
    margin-right: 5rem;
    margin-top: 1rem;
}

.footer-sitemap ul {
    list-style: none;
    padding: 0;
}

.footer-sitemap ul li {
    margin-bottom: 2.5rem;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.footer-sitemap ul li:hover {
    opacity: 0.7;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
}

.contact-wrapper .phone,
.contact-wrapper .email,
.contact-wrapper .media-container {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.phone,
.email {
    font-size: 1rem;
    gap: 1rem;
}

.media-container {
    gap: 1.5rem;
}