.password-input {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-field {
    display: flex;
}

.input-field input {
    width: 100%;
    margin-top: .5rem;
}

.password-toggle-icon {
    position: absolute;
    left: 25.3rem;
    top: 2.7rem;
}