.search-bar {
    margin-left: 2rem;
    position: relative;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    border: .5px solid lightgray;
    opacity: 0.6;
}

.search-bar input::placeholder {
    color: black;
    opacity: 0.8;
}


.search-bar img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 18rem;
    top: 9px;
    cursor: pointer;
    color: white;
}