.float-section {
    position: relative;
    background-color: #B2E1FF;
    margin-top: -14rem;
    left: 2%;
    padding: 2rem;
    width: 100%;
    max-width: 1400px;
    border-radius: 30px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.section-header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1;
}

.section-header p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.chevron-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
}

.chevron-btn span {
    background-color: #FFF;
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chevron-btn span img {
    width: 40px;
    height: 40px;
}

.destination-cards-container {
    margin: 2rem 0;
}

.destination-cards-container .destination-cards-wrapper {
    display: flex;
    gap: 1rem;
}