.must-visit-destinations {
    margin-top: 4rem;
    padding: 0 30px;
}

.must-visit-destinations h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.places-to-visit-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.places-container .places-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
    z-index: 1;
}

.places-container .places-overlay p {
    margin-top: 47%;
    margin-left: -72%;
    font-family: "Poppins", sans-serif;
    font-size: 2.3rem;
}

.places-container {
    width: 700px;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.places-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}