.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.landing-page-hero-section {
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.landing-page-hero {
    position: relative;
    margin-bottom: 7rem;
    z-index: 2;
}

.landing-page-hero .hero-description h1 {
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 0;
}

.landing-page-hero .hero-description p {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}