.login-component {
    background-image: url('D:/tour-adivisor-1.0/tour-advisor-code/frontend/tour-advisor-v1/public/img/image10.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 8rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #02002D;
    opacity: 40%;
    overflow: hidden;
}

.login-hero-section {
    z-index: 1;
    margin: 8rem 6rem 5.5rem 6rem;
}

.login-hero-section .logo {
    width: 400px;
    height: 400px;
    border-radius: 30px;
}

.login-hero-section .logo img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.login-hero-section h2 {
    margin: 1rem 0 0 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #fff;
}

.login-hero-section h3 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
}

.login-hero-section p {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
}

.login-form-section {
    margin: 3rem 2rem 2rem;
    z-index: 1;
}

.login-form-section .login-form-title {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: #fff;
}

@media screen and (max-width: 1440px) {
    html, body { height: 100%; overflow: hidden; }
    .overlay { height: 100vh; }
    .login-hero-section {
        margin-top: 5rem;
    }
    .login-component {
        height: 100vh;
        overflow: hidden;
    }
}

@media screen and (max-width: 1286px) {
    .login-component {
        padding: 0 2rem;
    }

}

@media screen and (max-width: 1024px) {
    .login-component {
        padding: 0 1rem;
        gap: 0;
    }

    .login-hero-section {
        margin: 4rem 2rem 2rem 2rem;
    }

    .login-hero-section .logo {
        width: 250px;
        height: 250px;
    }

    .login-hero-section h2 {
        font-size: 2rem;
    }

    .login-hero-section h3 {
        font-size: 1.2rem;
    }

    .login-hero-section p {
        font-size: 0.6rem;
    }

    .login-hero-section {
        margin: 7rem 4rem 2rem 4rem;
    }

    .login-form-title {
        margin: 2rem 0 0 0;
    }
    .login-form-section {
        margin: 2rem 6rem 2rem 6rem;
    }
}

@media screen and (max-width: 768px) {
    .login-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }

    .login-hero-section {
        margin: 0;
    }

    .login-hero-section .logo {
        width: 100px;
        height: 100px;
        margin-top: 2rem;
    }

    .login-hero-section h2 {
       display: none;
    }

    .login-hero-section h3 {
        display: none;
    }

    .login-hero-section p {
        display: none;
    }

    .login-form-section {
        margin: 0;
    }

    .login-form-section .login-form-title {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
}

@media screen and (max-width: 400px) {
    .login-component {
        padding: 0 0.75rem;
        gap: 0;
    }
    .overlay { height: 100vh; }
    .login-hero-section {
        margin: 0;
    }
    .login-hero-section .logo {
        width: 80px;
        height: 80px;
        margin-top: 1rem;
    }
    .login-form-section {
        margin: 0;
    }
    .login-form-section .login-form-title {
        font-size: 1.25rem;
        margin: 1rem 0;
    }
}